@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap");
body  {
    font-family: 'Inter', sans-serif;
}

@media (prefers-color-scheme: dark) {
   
    aside{
        background-color: #222121 !important;
    }
    div.timeline-item{
        background-color: #303030 !important;
        overflow: hidden;
        
    }
    
    div.timeline-body{
        color: #fff;
    }
    .timeline-header.no-border{
        background-color: #3d3d3d ;
        color: #fff !important
    }
    .timeline-header.no-border a{
        color: rgb(1, 216, 163) !important
    }
    input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"],  textarea.materialize-textarea{
        background-color: #1d1d1d !important;
        color: #fff !important;
    }
    .card-primary.card-outline {
        border-top: 3px solid rgb(1, 216, 163) !important;
    }
}